html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    margin: 0;
    background-image: url("bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
h2,h4{
    margin: 0;
    color:  rgb(238, 235, 231);
    letter-spacing: 0.1em;
 }
 a{
    text-decoration: none;
    color: inherit;
}
header{
    position: sticky;
}
.navigation-bar{
    
    width: 100%;
    height: auto;    
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    z-index: 1; 
    color: rgb(238, 235, 231);
}
.navigation-bar span{
    text-align: right;
}
/* Working the logo Part*/
.logo{
    margin: 0;
    padding-left: 20px;
    text-align: center;
}
.logo p{
    margin: 0;
    font-size: 25px;
    overflow: hidden;
    letter-spacing: 0.2rem;
}
/* Styling play logo*/
#sp1{
    margin-right:0.6rem ;
    margin-bottom: 0.2rem;
}
/* Styling Music player text*/
#sp2{
    font-size: 15px;
    letter-spacing: 0.4rem;
    line-height: 1.5rem;
}
/* Favourties*/
.fav{
    padding: 5px;
}
.fav p{
    margin: auto;
    min-width: 100px;
    font-size: 1.2rem;
    color: /*rgba(252, 117, 162);*/ blanchedalmond;
    letter-spacing: 0.2rem;

}

/* Search bar */
.search-bar{
    height: 2rem;
    min-width: 120px;
    width: 20em;
    background-color: rgb(238, 235, 231);
    border-radius: 20px;
    display: flex;   
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: black;
    
}
.search-bar input{
    width: 18rem;
    min-width: 70px;
    padding: 0 0.6em;
    background-color: transparent;
    border: none;
    outline: none;  
}

/* Notification*/
.notifications{
    text-align: right;
}

/* Profile*/
.profile{
    padding-right: 20px;
    text-align: right;
}

main{
    padding: 20px;
    padding-top: 0;
    display: inline-block;
    width: 66%;
    height: 75%;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
}
main::-webkit-scrollbar{
    display: none;
}

/*carousel of the main section*/
/* top card */
.top_cards{
    height: 33vh;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    background-image: linear-gradient(45deg,rgba(0,0,0,0.5),rgba(83, 81, 85, 0.5),rgba(122, 91, 107, 0.5),rgba(0,0,0,0.5));
}
.top_cards img{
    height: 250px;
    width: 250px;
    overflow: hidden;
    object-fit: cover;
}
.top_cards img:hover{
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    transition: 0.4s ease-in-out;
    z-index: 1;
    
}
/* Latest Release */
.latest-release{
    position: relative;
    padding: 1.2rem; 
    padding-right: 0;
    height: auto;
    width: 100%;
    margin-top: 2rem;
}
/* Box containing the content of latest release section*/
.lr-box{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card-1{
    width: 45%;
    min-height: 100px;
    min-width: 280px;
    display: flex; 
    background-color: rgb(14, 14, 14,0.8); 
    margin: 0.3rem;

}
.card-1:hover{
    box-shadow: 0px 0px 6px 1px rgba(230, 196, 196, 0.3);
}
.card-1 img:hover{
    opacity: 0.5;
}
.lr-box img{
    height: 100px;
    width: 100px;
    overflow: hidden;
    object-fit: cover;
}

.text-S1{
    width: 14em;
    margin-top: auto;
    margin-bottom:auto ;
    padding-left: 20px;
}
#T-style1{
    font-weight: 300;
    font-size: 1rem;
    color: rgb(238, 235, 231);
}
.card-1 span{
    font-weight: 200;
    font-size: 15px;
    color: rgba(245, 245, 245, 0.452);
}
.more{
    color: rgb(238, 235, 231);
    width: 5em;
    text-align: right;
    padding: 15px 25px 0 0;

}
/* These are the buttons that become visible when the screen width is less than 1112px*/
#take-me, #take-me2{
    position: fixed;
    padding: 5px;
    top: 70px;
    border-radius: 2px;
    right: 2px;
    visibility: hidden;
    border: none;
    font-size: 15px;
    background-color: hotpink;
    color: lavenderblush;
}
#take-me2{
    top: 100px;
}

/* this is for the latest release drop down menu */
.options {
    color: whitesmoke;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	text-align: right;
	margin-right: 2%;
	margin-top: 2%;
}
.latest-release-dropdown {
    background-color: rgb(104, 88, 95);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	opacity: 0;
	width: 0px;
	height: 0px;
	top: 20px;
	right: 0px;
	overflow: hidden;
	z-index: 2;
	border: 1px solid black;
	transition: all ease-in-out 0.3s;
}
/* icon in the latest-release drop down */
.fa-ellipsis-h {
	cursor: pointer;
}
/* input for the latest-release drop down */
input[type="checkbox"] {
	display: none;
}
/* checking it, will trigger the latest release dropdown */
input[type="checkbox"]:checked ~ .latest-release-dropdown {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}
/* options in the lastest release drop down */
.drop-item{
    margin: 0.1rem;
}
.drop-item p {
    margin-bottom: 0;
    margin-top: 0.1rem;
	text-align: center;
}
/* Popular Artist*/
.popular-artist{
    padding: 1.2rem; 
    padding-right: 0;
    margin-top: 2rem;
}
/* Box containing the content of popular artist section*/
.pa-box{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
      
}
/* box that contains all the artist's picture and name*/
.artist{
    height: 12vw;
    width: 9vw;
    min-height: 160px;
    min-width: 120px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-image: linear-gradient(rgba(8, 8, 8, 0.9),40%,rgba(43, 32, 37, 0.39),rgba(14, 13, 14, 0.9));
}
.pa-box img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    
}
.popular-artist p{
    color:rgb(172, 170, 169);
    font-size: 16px;
    word-spacing: 0.2rem;
}
.artist img:hover {
    opacity: 0.4;   
}

/* Themes Box*/
.themes{
    padding: 1.2rem; 
    padding-right: 0;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
/* this box contains the content of theme section*/
.themes-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    padding: 1rem;
    padding-left: 3rem;
}
.themes-text{
    color: rgb(124, 112, 94);
    text-align: center;
    top: -55%;
    opacity: 1;
    position: relative;
    text-shadow: 4px 4px 4px black;
}
.themes-box img{
    
    height: 180px;
    width: 280px;
    overflow: hidden;
    object-fit: cover;
}
.img-box{
    height: 180px;
    width: 280px;
    overflow: hidden;
    margin: 0.3rem auto;
}
.themes-box img{
   width: 100%;
   transition: 0.5s all ease-in-out;   
}
.themes-box img:hover {
    opacity: 0.4;
    transform: scale(1.5);  
}


/* Stations*/
.stations{
    padding: 1.2rem; 
    padding-right: 0;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.stations-div{
	margin-top: 3rem;
	margin-bottom: 3rem;
    margin-right: 10px;

}
/* these divs are for the colourful boxes in the stations section */
#div1 {
	width: 12vw;
    height: 8vw;
    background-image: linear-gradient(rgba(243, 119, 17, 0.671),rgba(240, 107, 66, 0.712),60%,rgba(218, 59, 133, 0.671));
}
#div2 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 10vw;
    height: 10vw;
    background-image: linear-gradient(23deg,rgb(92, 36, 50),70%,rgb(88, 86, 86));

    /*rgba(145, 91, 109, 0.829);*/
}
#div3 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 8vw;
    height: 12vw;
    color: white;
    background-image: linear-gradient(40deg,rgba(0,0,0,0.5),rgba(83, 81, 85, 0.5),rgba(122, 91, 107, 0.5),rgba(0, 0, 0, 0.767));
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* logo in the outermost div */
#div3 span {
    padding-top: 1.2rem;
	color: white;
}
/* "stations" text */
#div3 p {
    font-size: 1.7vw;
}
.stations-box{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-content: center;

}
.sb-img{
    margin: 0.5rem;
    color: blanchedalmond;
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    background-image: linear-gradient(rgba(243, 119, 17, 0.671),rgba(240, 107, 66, 0.712),60%,rgba(218, 59, 133, 0.671)),
    url("https://i.pinimg.com/236x/b6/ac/10/b6ac1009c9f45fdb97c32144a3642960.jpg");
    
}
.sb-img p{
    text-align: center;
    padding-top: 20px;
}

.sb-img:hover{
    background-image: 
    linear-gradient(rgba(218, 50, 252, 0.61),rgba(252, 27, 102, 0.829)),
    url("https://i.pinimg.com/236x/b6/ac/10/b6ac1009c9f45fdb97c32144a3642960.jpg");
    
    transition: background-image 0.3s;
}

/* Latest French & Latest English*/
.latest-french , .latest-english{
    padding: 1.2rem; 
    padding-right: 0;
    margin-top: 2rem;
}

.lf-box {
    margin: 0.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card2{
    text-align: left;
    background-color: rgb(14, 14, 14,0.8);
}
.card2 img{
    width: 130px;
    height: 130px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0px 0px 6px 4px rgba(78, 78, 78, 0.3);
}
.card2 img:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
.card2:hover{
    background-color: rgba(41, 41, 41, 0.7);
}
.card2 p{
    padding-left: 0.4rem;
    font-size: 15px;
    color: rgb(238, 235, 231);
}
.card2 span{
    color: rgba(245, 245, 245, 0.452);
}
/* Second half of page starts from here */
/* aside section*/
aside{
    padding-left: 0.5rem;
    display: inline-block;
    width: 27%;
    vertical-align: top;
    height: 75%;
    overflow: scroll;
    scrollbar-width: none;
}
aside::-webkit-scrollbar{
    display: none;
}
/* heading of playlist*/
.top{
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    
}
.top h2{
    letter-spacing: 0.3rem;
}
.section-box{   
    padding-top: 1rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
.card4{
    min-width: 160px;
    width: 95%;
    padding: 0.5rem;
    display: flex;
    background-color: rgb(14, 14, 14,0.8);
    margin: 0.3rem;   
}
.card4:hover{
    box-shadow: 0px 0px 6px 1px rgba(230, 196, 196, 0.3);
}
.card4 img{
    padding-left: 0.5em;
    width: 90px;
    height: 90px;
    overflow: hidden;
    object-fit: cover;
}
.card4 img:hover{
opacity: 0.5;
}
.queue-options {
	position: fixed;
	right: 4%;
	top: 14%;
	background-color: rgba(224, 77, 138, 0.9);
	width: 12%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1%;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 2; /* to cover the heart icon */
	opacity: 0;
	transform: scale(0);
	transition: all ease-in-out 0.25s;
}
/* when the queue option box becomes target */
#queue-options-box:target {
	opacity: 1;
	transform: scale(1);
}
.queue-options {
    color: black;
    letter-spacing: 0.06rem;
}
.queue-options p {
    margin: 0.1rem;
	text-align: center;
}
.queue-options p a {
	text-decoration: none;
}
/* horizontal line in queue options box */
hr {
	width: 90%;
	color: black;
}
#playlist-queue{
    color: rgba(252, 117, 162);
}
/* Index number of playlist*/
.text3{
    padding-left: 0.5em;
    color: rgb(238, 235, 231);
}
/* Name of Song in playlist*/
.text4{
    padding-left: 0.5em;
    width: 13em;
    color: rgb(238, 235, 231);
}
/* Name of Artist in playlist*/
.text4 span{
    color: rgba(245, 245, 245, 0.452);
}
.icon{
    padding-top: 35px;
    color: rgb(238, 235, 231);
}
.icon:hover{
    color: rgba(252, 117, 162);
}

/* Footer starts*/
footer {
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 65px;
	background-color:rgb(39, 39, 39);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	box-sizing: border-box;
    z-index: 6;
    color: whitesmoke;
}

/* footer is divided into 3 sections */
/* first section of the footer */
.song-description {
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.song-description span{
    color: darkgray;
    font-size: 13px;
}
/* the song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* heart icon */
.heart-icon-footer {
    color: darkgray;
    font-size: 15px;
    width: 4vw;
    padding-top: 10px;
}
/* song decscription */
.song-desc {
    width: 13vw;
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song artist */
.song-desc div:nth-child(2) {
	font-size: 12px;
}

/*  second section of the footer*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    font-size: 15px;
    color: whitesmoke;
}
.controls div{
    width: 3rem;
    text-align: center;
}
#pause-icon{
    font-size: 35px;
}
/* main song-duration slider */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.time {
	margin: 0px 10px;
}
/* adjusting the slider */
.slidecontainer {
	width: 100%;
}
/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
    height: 4px;
    border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.slider:hover {
	opacity: 1;
}
/* these are for styling and adjusting long-slider */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
	height: 15px;
	appearance: none;
	border-radius: 50%;
    background: #ff68de;
	cursor: pointer;
}
/* the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
/* third section of the footer */
/* this contains the extra icons and slider for volume */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
@media only screen and (max-width: 1112px){
main,aside{
    width: 95%;
    padding: 5px;
    margin: 5px
}
main{
    height: auto;
}
aside{
    height: auto;
    vertical-align: bottom;
    margin-top: 3rem;
}

.latest-release, .top_cards, .latest-release, .popular-artist, .themes, .latest-french, .latest-english{
    padding: 10px;
    margin: 10px;
}
#take-me, #take-me2

{
    z-index: 2;
    visibility: visible;
}
.top_cards{
    min-height: 300px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

}
@media only screen and (max-width: 676px){
.fav p {
    font-size: 15px;
    letter-spacing: 0.1rem;
}  
#sp1,#sp2{
    font-size: 10px;
    line-height: 14px;
} 
.profile{
    padding-left:10px ;
}

.card-1{
    width: 100%;
}
.text-S1{
    width: 24em;
    padding-left: 2.0em;
}
.lf-box{
    padding-left: 3em;
    padding-right: 3em;
}
.card2{
    margin: 0.5em;
    
}
.song-description{
    width: 30%;
    font-size: 14px;
}
.song-description span{
    font-size: 10px;
}
.controls{
    width: 45%;
    font-size: 10px;
}
.extras{
    width: 25%;
    font-size: 14px;
}
}
